<div class="content" style="background-image: url({{image}});">
  <!--
  <div class="image">
    <img src="{{ image }}" width="100px" height="105px" alt="">
  </div>
  -->
  <div class="element" style="background-color: #{{ bgcolor }};">
    <div class="head">
      <div class="atomic-number">{{ number }}</div>
      <div class="atomic-mass">{{ mass }}</div>
    </div>
    <div class="body">
      <div class="symbol">{{ symbol }}</div>
      <div class="name">{{ name }}</div>
    </div>
    <div class="footer">
      <div class="group">{{ category }}</div>
    </div>
  </div>

</div>
